<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
   
    <form action="/login" method="post">
    <div class="container">
        <h1>Login</h1>
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    </div>
     <div class="make_account">
          <h3>Don't have an account?</h3>
          <a href="/signup">Go to signup page</a>
     </div>
  
</body>
</html>
